*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/jarRepositories.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

app/src/debug/res/values/google_maps_api.xml
app/src/release/res/values/google_maps_api.xml
app/debug/app-debug.aab
app/release/app-release.aab
*.keystore
private_key.pepk

scripts/all_markers_europe.json
